*, ::after, ::before { box-sizing: border-box; }

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd { margin: 0; }

body { min-height: 100%; scroll-behavior: smooth; line-height: 1.2; }

ul[class], ol[class] { list-style: none; padding: 0; }

a:not([class]) { -webkit-text-decoration-skip: ink; text-decoration-skip-ink: auto; }

img { max-width: 100%; display: block; }

a img { border: none; }

input, button, textarea, select { font: inherit; }

textarea:focus, input:focus, select:focus, button:focus { outline: none; }

table { border-collapse: collapse; border-spacing: 0; }

html .ftb { height: 100%; }

.ftb body { display: flex; flex-direction: column; min-height: 100%; height: auto; }

.ftb footer { margin-top: auto; }

.fg2 { flex-grow: 2; }

::placeholder { color: currentColor; }

:focus::placeholder { color: transparent; }

.switch { cursor: pointer; }

[data-swb] { display: none; }

[data-swb]:nth-child(1) { display: block; }

.tac, center { text-align: center; }

.tal { text-align: left; }

.tar { text-align: right; }

.wsnw { white-space: nowrap; }

.wsnw_3p { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.wsn { white-space: normal; }

.usn { -webkit-user-select: none; user-select: none; }

.ma { margin: auto; }

.mla { margin-left: auto; }

.mta { margin-top: auto; }

.mra { margin-right: auto; }

.mba { margin-bottom: auto; }

.m0 { margin: 0px; }

.mt0 { margin-top: 0px; }

.mr0 { margin-right: 0px; }

.mb0 { margin-bottom: 0px; }

.ml0 { margin-left: 0px; }

.p0 { padding: 0px; }

.pt0 { padding-top: 0px; }

.pr0 { padding-right: 0px; }

.pb0 { padding-bottom: 0px; }

.pl0 { padding-left: 0px; }

.m5 { margin: 5px; }

.mt5 { margin-top: 5px; }

.mr5 { margin-right: 5px; }

.mb5 { margin-bottom: 5px; }

.ml5 { margin-left: 5px; }

.p5 { padding: 5px; }

.pt5 { padding-top: 5px; }

.pr5 { padding-right: 5px; }

.pb5 { padding-bottom: 5px; }

.pl5 { padding-left: 5px; }

.m10 { margin: 10px; }

.mt10 { margin-top: 10px; }

.mr10 { margin-right: 10px; }

.mb10 { margin-bottom: 10px; }

.ml10 { margin-left: 10px; }

.p10 { padding: 10px; }

.pt10 { padding-top: 10px; }

.pr10 { padding-right: 10px; }

.pb10 { padding-bottom: 10px; }

.pl10 { padding-left: 10px; }

.m15 { margin: 15px; }

.mt15 { margin-top: 15px; }

.mr15 { margin-right: 15px; }

.mb15 { margin-bottom: 15px; }

.ml15 { margin-left: 15px; }

.p15 { padding: 15px; }

.pt15 { padding-top: 15px; }

.pr15 { padding-right: 15px; }

.pb15 { padding-bottom: 15px; }

.pl15 { padding-left: 15px; }

.m20 { margin: 20px; }

.mt20 { margin-top: 20px; }

.mr20 { margin-right: 20px; }

.mb20 { margin-bottom: 20px; }

.ml20 { margin-left: 20px; }

.p20 { padding: 20px; }

.pt20 { padding-top: 20px; }

.pr20 { padding-right: 20px; }

.pb20 { padding-bottom: 20px; }

.pl20 { padding-left: 20px; }

.m25 { margin: 25px; }

.mt25 { margin-top: 25px; }

.mr25 { margin-right: 25px; }

.mb25 { margin-bottom: 25px; }

.ml25 { margin-left: 25px; }

.p25 { padding: 25px; }

.pt25 { padding-top: 25px; }

.pr25 { padding-right: 25px; }

.pb25 { padding-bottom: 25px; }

.pl25 { padding-left: 25px; }

.m30 { margin: 30px; }

.mt30 { margin-top: 30px; }

.mr30 { margin-right: 30px; }

.mb30 { margin-bottom: 30px; }

.ml30 { margin-left: 30px; }

.p30 { padding: 30px; }

.pt30 { padding-top: 30px; }

.pr30 { padding-right: 30px; }

.pb30 { padding-bottom: 30px; }

.pl30 { padding-left: 30px; }

.xl_0 { width: 0%; }

.xl_5 { width: 5%; }

.xl_10 { width: 10%; }

.xl_15 { width: 15%; }

.xl_20 { width: 20%; }

.xl_25 { width: 25%; }

.xl_30 { width: 30%; }

.xl_35 { width: 35%; }

.xl_40 { width: 40%; }

.xl_45 { width: 45%; }

.xl_50 { width: 50%; }

.xl_55 { width: 55%; }

.xl_60 { width: 60%; }

.xl_65 { width: 65%; }

.xl_70 { width: 70%; }

.xl_75 { width: 75%; }

.xl_80 { width: 80%; }

.xl_85 { width: 85%; }

.xl_90 { width: 90%; }

.xl_95 { width: 95%; }

.xl_100 { width: 100%; }

.db { display: block; }

.dib { display: inline-block; }

.show_xl { display: block; }

.hide_xl { display: none; }

.flex { display: flex; }

.inline_flex { display: inline-flex; }

.fdc { flex-direction: column; }

.fdcr { flex-direction: column-reverse; }

.fdr { flex-direction: row; }

.fdrr { flex-direction: row-reverse; }

.jcsb { justify-content: space-between; }

.jcsa { justify-content: space-around; }

.jcc { justify-content: center; }

.jcfe { justify-content: flex-end; }

.jcfs { justify-content: flex-start; }

.aic { align-items: center; }

.ais { align-items: stretch; }

.aifs { align-items: flex-start; }

.aife { align-items: flex-end; }

.fww { flex-wrap: wrap; }

.fwnw { flex-wrap: nowrap; }

.fwwr { flex-wrap: wrap-reverse; }

.order1 { order: 1; }

.order2 { order: 2; }

.order3 { order: 3; }

.acs { align-content: stretch; }

.acc { align-content: center; }

.acsb { align-content: space-between; }

.acsa { align-content: space-around; }

.acfs { align-content: flex-start; }

.acfe { align-content: flex-end; }

.asfs { align-self: flex-start; }

.asfe { align-self: flex-end; }

.asc { align-self: center; }

.asa { align-self: auto; }

.ass { align-self: stretch; }

.asb { align-self: baseline; }

@media only screen and (max-width: 1220px) { .lg_0 { width: 0%; }
  .lg_5 { width: 5%; }
  .lg_10 { width: 10%; }
  .lg_15 { width: 15%; }
  .lg_20 { width: 20%; }
  .lg_25 { width: 25%; }
  .lg_30 { width: 30%; }
  .lg_35 { width: 35%; }
  .lg_40 { width: 40%; }
  .lg_45 { width: 45%; }
  .lg_50 { width: 50%; }
  .lg_55 { width: 55%; }
  .lg_60 { width: 60%; }
  .lg_65 { width: 65%; }
  .lg_70 { width: 70%; }
  .lg_75 { width: 75%; }
  .lg_80 { width: 80%; }
  .lg_85 { width: 85%; }
  .lg_90 { width: 90%; }
  .lg_95 { width: 95%; }
  .lg_100 { width: 100%; }
  .show_lg { display: block; }
  .hide_lg { display: none; }
  .flex_lg { display: flex; }
  .inline_flex_lg { display: inline-flex; }
  .fdc_lg { flex-direction: column; }
  .fdcr_lg { flex-direction: column-reverse; }
  .fdr_lg { flex-direction: row; }
  .fdrr_lg { flex-direction: row-reverse; }
  .jcsb_lg { justify-content: space-between; }
  .jcsa_lg { justify-content: space-around; }
  .jcc_lg { justify-content: center; }
  .jcfe_lg { justify-content: flex-end; }
  .jcfs_lg { justify-content: flex-start; }
  .aic_lg { align-items: center; }
  .ais_lg { align-items: stretch; }
  .aifs_lg { align-items: flex-start; }
  .aife_lg { align-items: flex-end; }
  .fww_lg { flex-wrap: wrap; }
  .fwnw_lg { flex-wrap: nowrap; }
  .fwwr_lg { flex-wrap: wrap-reverse; }
  .order1_lg { order: 1; }
  .order2_lg { order: 2; }
  .order3_lg { order: 3; } }

@media only screen and (max-width: 980px) { .md_0 { width: 0%; }
  .md_5 { width: 5%; }
  .md_10 { width: 10%; }
  .md_15 { width: 15%; }
  .md_20 { width: 20%; }
  .md_25 { width: 25%; }
  .md_30 { width: 30%; }
  .md_35 { width: 35%; }
  .md_40 { width: 40%; }
  .md_45 { width: 45%; }
  .md_50 { width: 50%; }
  .md_55 { width: 55%; }
  .md_60 { width: 60%; }
  .md_65 { width: 65%; }
  .md_70 { width: 70%; }
  .md_75 { width: 75%; }
  .md_80 { width: 80%; }
  .md_85 { width: 85%; }
  .md_90 { width: 90%; }
  .md_95 { width: 95%; }
  .md_100 { width: 100%; }
  .show_md { display: block; }
  .hide_md { display: none; }
  .flex_md { display: flex; }
  .inline_flex_md { display: inline-flex; }
  .fdc_md { flex-direction: column; }
  .fdcr_md { flex-direction: column-reverse; }
  .fdr_md { flex-direction: row; }
  .fdrr_md { flex-direction: row-reverse; }
  .jcsb_md { justify-content: space-between; }
  .jcsa_md { justify-content: space-around; }
  .jcc_md { justify-content: center; }
  .jcfe_md { justify-content: flex-end; }
  .jcfs_md { justify-content: flex-start; }
  .aic_md { align-items: center; }
  .ais_md { align-items: stretch; }
  .aifs_md { align-items: flex-start; }
  .aife_md { align-items: flex-end; }
  .fww_md { flex-wrap: wrap; }
  .fwnw_md { flex-wrap: nowrap; }
  .fwwr_md { flex-wrap: wrap-reverse; }
  .order1_md { order: 1; }
  .order2_md { order: 2; }
  .order3_md { order: 3; } }

@media only screen and (max-width: 760px) { .sm_0 { width: 0%; }
  .sm_5 { width: 5%; }
  .sm_10 { width: 10%; }
  .sm_15 { width: 15%; }
  .sm_20 { width: 20%; }
  .sm_25 { width: 25%; }
  .sm_30 { width: 30%; }
  .sm_35 { width: 35%; }
  .sm_40 { width: 40%; }
  .sm_45 { width: 45%; }
  .sm_50 { width: 50%; }
  .sm_55 { width: 55%; }
  .sm_60 { width: 60%; }
  .sm_65 { width: 65%; }
  .sm_70 { width: 70%; }
  .sm_75 { width: 75%; }
  .sm_80 { width: 80%; }
  .sm_85 { width: 85%; }
  .sm_90 { width: 90%; }
  .sm_95 { width: 95%; }
  .sm_100 { width: 100%; }
  .show_sm { display: block; }
  .hide_sm { display: none; }
  .flex_sm { display: flex; }
  .inline_flex_sm { display: inline-flex; }
  .fdc_sm { flex-direction: column; }
  .fdcr_sm { flex-direction: column-reverse; }
  .fdr_sm { flex-direction: row; }
  .fdrr_sm { flex-direction: row-reverse; }
  .jcsb_sm { justify-content: space-between; }
  .jcsa_sm { justify-content: space-around; }
  .jcc_sm { justify-content: center; }
  .jcfe_sm { justify-content: flex-end; }
  .jcfs_sm { justify-content: flex-start; }
  .aic_sm { align-items: center; }
  .ais_sm { align-items: stretch; }
  .aifs_sm { align-items: flex-start; }
  .aife_sm { align-items: flex-end; }
  .fww_sm { flex-wrap: wrap; }
  .fwnw_sm { flex-wrap: nowrap; }
  .fwwr_sm { flex-wrap: wrap-reverse; }
  .order1_sm { order: 1; }
  .order2_sm { order: 2; }
  .order3_sm { order: 3; } }

@media only screen and (max-width: 480px) { .xs_0 { width: 0%; }
  .xs_5 { width: 5%; }
  .xs_10 { width: 10%; }
  .xs_15 { width: 15%; }
  .xs_20 { width: 20%; }
  .xs_25 { width: 25%; }
  .xs_30 { width: 30%; }
  .xs_35 { width: 35%; }
  .xs_40 { width: 40%; }
  .xs_45 { width: 45%; }
  .xs_50 { width: 50%; }
  .xs_55 { width: 55%; }
  .xs_60 { width: 60%; }
  .xs_65 { width: 65%; }
  .xs_70 { width: 70%; }
  .xs_75 { width: 75%; }
  .xs_80 { width: 80%; }
  .xs_85 { width: 85%; }
  .xs_90 { width: 90%; }
  .xs_95 { width: 95%; }
  .xs_100 { width: 100%; }
  .show_xs { display: block; }
  .hide_xs { display: none; }
  .flex_xs { display: flex; }
  .inline_flex_xs { display: inline-flex; }
  .fdc_xs { flex-direction: column; }
  .fdcr_xs { flex-direction: column-reverse; }
  .fdr_xs { flex-direction: row; }
  .fdrr_xs { flex-direction: row-reverse; }
  .jcsb_xs { justify-content: space-between; }
  .jcsa_xs { justify-content: space-around; }
  .jcc_xs { justify-content: center; }
  .jcfe_xs { justify-content: flex-end; }
  .jcfs_xs { justify-content: flex-start; }
  .aic_xs { align-items: center; }
  .ais_xs { align-items: stretch; }
  .aifs_xs { align-items: flex-start; }
  .aife_xs { align-items: flex-end; }
  .fww_xs { flex-wrap: wrap; }
  .fwnw_xs { flex-wrap: nowrap; }
  .fwwr_xs { flex-wrap: wrap-reverse; }
  .order1_xs { order: 1; }
  .order2_xs { order: 2; }
  .order3_xs { order: 3; } }
/*# sourceMappingURL=grid.css.map */